[submodule "themes/up-business-theme"]
	path = themes/up-business-theme
	url = https://gitlab.com/vibhorag/up-business-theme.git
[submodule "themes/hugo-fresh"]
	path = themes/hugo-fresh
	url = https://github.com/StefMa/hugo-fresh.git
